@model IEnumerable<ButiqueShops.ViewModels.ItemsToSubmitViewModel>

@{
    ViewBag.Title = "Index";
}
<div class="container first">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New Item Submission Request", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                Item Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                Shop Name
            </th>
            <th>
                Type
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shops.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemTypes.Name)
                </td>
                <td>
                    @if (User.IsInRole("Administrator"))
                    {
                        @Html.ActionLink("Approve", "Approve", new { id = item.Id })<span> |</span>
                    }
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>