@model IEnumerable<ButiqueShops.Models.Shops>

@{
    ViewBag.Title = "Shops";
}
<div class="container first">
    <h2>Shop List</h2>

    <p>
        @Html.ActionLink("Add New Shop", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUsers.UserName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUsers.UserName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                    @Html.ActionLink("Items", "index", "Items", new { shopId = item.Id }, null) |
                    @Html.ActionLink("Liked By", "ShopLikedBy", "Galleries", new { id = item.Id }, null)
                </td>
            </tr>
        }

    </table>
    </div>