@model ButiqueShops.ViewModels.ItemsViewModel
@{
    ViewBag.Title = "Details";
}
<div class="container first">
    <h2>Details</h2>

    <div>
        <h4>Items</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Colors)
            </dt>

            <dd>
                @*@Html.DisplayFor(model => model.ColorId)*@
                @Html.ListBox("Colors", null, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Sizes)
            </dt>

            <dd>
                @Html.ListBox("Sizes", null, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateAdded)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateAdded)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ItemTypes.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ItemTypes.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Shops.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Shops.Name)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>